// sidebar
$menuText:#fff;
$menuActiveText:#ffeb3b;
$subMenuActiveText:#fff; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#2196f3;
$menuHover:#1976d2;

$subMenuBg:#1976d2;
$subMenuHover:#1565c0;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
